/*$colors: ();
 *$colors: map-merge(
 *  (
 *    "blue":       $blue,
 *    "indigo":     $indigo,
 *    "purple":     $purple,
 *    "pink":       $pink,
 *    "red":        $red,
 *    "orange":     $orange,
 *    "yellow":     $yellow,
 *    "green":      $green,
 *    "teal":       $teal,
 *    "cyan":       $cyan,
 *    "white":      $white,
 *    "gray":       $gray-600,
 *    "gray-dark":  $gray-800
 *  ),
 *  $colors
 *);
 *
 *$grays: ();
 *$grays: map-merge(
 *  (
 *    "100": $gray-100,
 *    "200": $gray-200,
 *    "300": $gray-300,
 *    "400": $gray-400,
 *    "500": $gray-500,
 *    "600": $gray-600,
 *    "700": $gray-700,
 *    "800": $gray-800,
 *    "900": $gray-900
 *  ),
 *  $grays
 *);
 *
 *$primary:       $blue;
 *$secondary:     $gray-600;
 *$success:       $green;
 *$info:          $cyan;
 *$warning:       $yellow;
 *$danger:        $red;
 *$light:         $gray-100;
 *$dark:          $gray-800;
 *
 *$theme-colors: ();
 *$theme-colors: map-merge(
 *  (
 *    "primary":    $primary,
 *    "secondary":  $secondary,
 *    "hola":    $success,
 *    "info":       $info,
 *    "warning":    $warning,
 *    "danger":     $danger,
 *    "light":      $light,
 *    "dark":       $dark
 *  ),
 *  $theme-colors
 *); */
.my-switch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.switch {
  display: block;
  position: relative;
  width: 90px;
  height: 55px; }

.switch input {
  display: none; }

.my-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #17a2b8;
  transition: 0.5s;
  border-radius: 0.5rem; }
  .my-slider:before {
    position: absolute;
    content: "";
    bottom: 14px;
    top: 8px;
    background-color: #ffc107;
    transition: 0.5s; }

input:checked + .my-slider {
  background-color: #000000; }
  input:checked + .my-slider:before {
    transform: translateX(47px) rotateZ(45deg);
    background: #ffffff; }

.my-slider.round:before {
  width: 43%;
  height: 43%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: rotateZ(-45deg); }
