$body-bg: #000;
$body-color: #111;
$primary: pink;
$third: #000;
$forth: #000;
$fifth: #000;
$secondary: #b0b0b0;

// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap"

h1
  color: $primary

.background-primary
  background-color: $primary

.background-secondary
  background-color: $secondary

section
  padding: 10px

#mapid
  height: 300px
